.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    height: 300px
    border-color: gray;
    background-color:rgb(200, 200, 200);
    border-radius: 20px;
}

.messagebox {
    margin: 10px 20px 10px 20px;}

body {
    font-family:'Garamond',Garamond, 'Garamond', Garamond, Arial, sans-serif;
}